@use '../../../assets/styles/variables' as color;

.layout-container.dark-theme {
    transition: 0.3s;
    background-color: color.$black !important;
    // background-image: url('../../../assets/images/dark-mode/background-main-menu.png');
    color: color.$white;
}