<div class="dark-animation-layout">
    <div
        class="cursor"
        #cursor
    ></div>
    @for (rowBlock of rowsBlock.rows; track $index) {
        <div
            class="row"
            [ngClass]="{ 'row-moved': $index % 2 !== 0 }"
        >
            @if (rowBlock.length % 2 === 0) {
                @for (hexagon of rowsBlock.evenHexagons; track $index) {
                    <div class="hexagon"></div>
                }
            } @else {
                @for (hexagon of rowsBlock.oddHexagons; track $index) {
                    <div class="hexagon"></div>
                }
            }
        </div>
    }
</div>
