<section class="projects">
    <cv-project-navigation
        (repoTypeChanged)="setRepoType($event)"
        [currentTypes]="repoTypes$ | async"
        [theme]="currentTheme$ | async"
    ></cv-project-navigation>
    <div class="grid-container">
        @for (repository of currentRepositories$ | async; track repository.name; let i = $index) {
            {{ repository.private }}
            <div
                [ngClass]="getClass(i)"
                class="project"
            >
                <div
                    class="repository-panel"
                    [ngClass]="{ 'dark-theme': (currentTheme$ | async) }"
                >
                    <div class="repository-panel__description">
                        <span class="repository-panel__name">{{ repository.name }}</span>
                        <span class="repository-panel__updated">{{ repository.updated_at | date: 'fullDate' }}</span>
                    </div>
                    <aside class="repository-aside">
                        <div class="repository-technologies">
                            <cv-project-chips
                                [repositoryName]="repository.name"
                                projectChipsText="Angular"
                            ></cv-project-chips>
                        </div>
                        <div class="repository-conection">
                            <cv-button
                                [buttonTheme]="currentTheme$ | async"
                                buttonText="{{ 'BUTTONS.PROJECTS.TO_WEBSITE' | translate }}"
                                buttonHoverText="{{ 'BUTTONS.PROJECTS.GO' | translate }}"
                                buttonType="short"
                            ></cv-button>
                        </div>
                    </aside>
                </div>
            </div>
        }
    </div>
</section>
