@use '../../../../assets/styles/variables' as color;

.skills-switcher {
    .skills-list {
        display: flex;
        row-gap: 20px;
        flex-direction: column;
        .skill-item {
            &_link {
                position: relative;
                align-items: center;
                transition: color 0.5s ease-in-out;
                cursor: pointer;
                color: color.$black;
                font-size: calc(10px + 10 * (100vw / 1920));
            }

            .active-link {
                color: color.$blue;
            }

            .active-link::before,
            .active-link::after {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0;
                transition: opacity 0.3s;
            }

            .active-link::after {
                left: -15px;
                content: '<';
            }

            .active-link::before {
                right: -15px;
                content: '>';
            }

            .active-link::before,
            .active-link::after {
                opacity: 1;
            }

            &_link:hover {
                color: color.$blue;
            }

            &_link {
                position: relative;
                align-items: center;
                transition: color 0.5s ease-in-out;
                cursor: pointer;
                color: color.$black;
                font-size: calc(10px + 10 * (100vw / 1920));
            }
        }
    }
}

.active {
    color: color.$black;
}
