@use '../../../../../../../assets/styles/variables' as color;

.aside-navigation.dark-theme {
    .navigation-list {
        .navigation_item {
            .item-button {
                color: color.$dm-dark-gray;
            }
        }

        .skills-switcher {
            .skills-list {
                .skill-item {
                    &_link {
                        color: color.$dm-dark-text;
                    }

                    .active {
                        color: color.$blue;
                    }

                    &_link:hover {
                        color: color.$blue;
                    }
                }
            }
        }
    }

    .active {
        color: color.$white;
    }
}
