<section class="skills-switcher">
    <ul class="skills-list">
        @for (skillItem of skillsList; track skillItem; let i = $index) {
            <li class="skill-item">
                <button
                    class="skill-item_button"
                    [ngClass]="{ active: currentSkills === skillItem.link }"
                    (click)="changeSkillsList(skillItem.link)"
                >
                    {{ skillItem.value }}
                </button>
            </li>
        }
    </ul>
</section>
