services:
  postgres:
    image: postgres:18
    container_name: cv_postgres
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped
    networks:
      - cv-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_cv
    env_file:
      - .env
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "8081:80"
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - cv-network
  backend:
      build:
        context: ./backend
        dockerfile: Dockerfile.backend
      container_name: backend_cv
      env_file:
        - .env  
      ports:
        - "3000:3000"
      depends_on:
        postgres:
          condition: service_healthy
      restart: unless-stopped
      networks:
        - cv-network
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.frontend
    container_name: frontend_cv
    ports:
      - "4000:4000"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - cv-network

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.nginx
    container_name: nginx_cv
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    restart: unless-stopped
    networks:
      - cv-network

networks:
  cv-network:
    driver: bridge

volumes:
  postgres_data: