.technologies {
    display: flex;
    column-gap: 62px;
    height: 100%;

    .skills-list {
        width: 100%;
    }

    &_stack {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 98px;
        height: fit-content;
    }
}
