.technologies {
    display: flex;
    column-gap: 62px;
    height: 100%;
    overflow: scroll;

    .skills-list {
        width: 100%;
    }

    &_stack {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, auto));
        column-gap: 98px;
        justify-items: center;
        width: 100%;
        height: fit-content;
    }
}

// .technologies_stack-column {
//     @for $i from 1 through 3 {
//         &:nth-of-type(#{$i}) {
//             @if $i % 2 == 0 {
//                 // Even columns
//                 color: blue;
//             } @else {
//                 // Odd columns
//                 color: red;
//             }
//         }
//     }
// }

// .even {
//     color: blue;
// }

// .odd {
//     color: red;
// }
