.technologies {
    display: flex;
    column-gap: 62px;
    height: 100%;

    .skills-list {
        width: 100%;
    }

    &_stack {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, auto));
        column-gap: 98px;
        justify-items: center;
        width: 100%;
        height: fit-content;
    }
}
