{
    "singleQuote": true,
    "semi": true,
    "proseWrap": "always",
    "trailingComma": "all",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "ignore",
    "arrowParens": "always",
    "singleAttributePerLine": true,
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": ["./**/*.html", "./**/*.scss", "./**/*.css"],
            "options": {
                "printWidth": 120
            }
        }
    ],
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-css-order"
    ],
    "importOrder": [
        "^@nestjs/(.*)$",
        "^@angular/(.*)$",
        "^rxjs/(.*)$",
        "^@ngrx/(.*)$",
        "^@core/(.*)$",
        "^@shared/(.*)$",
        "^@entities/(.*)$",
        "^@models/(.*)$",
        "^@services/(.*)$",
        "^@controllers/(.*)$",
        "^@utils/(.*)$",
        "^[../]",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": ["decorators-legacy", "typescript"]
}