@use '../../../../assets/styles/variables' as color;

.navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 10px solid color.$black;
    border-radius: 50px;
    padding: 0 50px;
    height: 96px;

    .header-links {
        display: flex;
        column-gap: 30px;
        height: 100%;
        &_item {
            .item-link {
                display: flex;
                position: relative;
                align-items: center;
                transition: color 0.5s ease-in-out;
                cursor: pointer;
                height: 100%;
                color: color.$black;

                &_text::first-letter {
                    text-transform: uppercase;
                }
            }

            .item-link::before,
            .item-link::after {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0;
                transition: opacity 0.3s;
            }

            .item-link::before {
                left: -15px;
                content: '<';
            }

            .item-link::after {
                right: -20px;
                content: '/>';
            }

            .item-link:hover::before,
            .item-link:hover::after {
                opacity: 1;
            }

            .item-link:hover {
                color: color.$blue;
            }
        }
    }
}
