<header class="navigation-header">
    <article class="header-logo">
        <img
            src="assets/images/white-mode/logo-i.cherkas-wm.svg"
            alt="logo-i.cherkas-wm.svg"
        />
    </article>
    <ul class="header-links">
        <li class="header-links_item">Опыт работы и образование</li>
        <li class="header-links_item">Проекты</li>
        <li class="header-links_item">Технологии</li>
    </ul>
    <aside class="header-buttons">
        <button class="header-buttons_dark-mode">mode</button>
        <button class="header-buttons_language">EN</button>
        <button class="header-buttons_log">Вход</button>
    </aside>
</header>
