<nav
    class="navigation-header"
    [ngClass]="{
        'visible fade-in': navigationLinks && navigationLinks.length > 0,
        hidden: !(navigationLinks && navigationLinks.length > 0)
    }"
>
    <article class="header-logo">
        <a
            class="header-logo_link"
            routerLink="/layout/main"
        >
            <img
                class="header-logo_link-img"
                src="assets/images/white-mode/logo-i.cherkas-wm.svg"
                alt="logo-i.cherkas-wm.svg"
            />
        </a>
    </article>
    <ul class="header-links">
        @for (itemLink of navigationLinks; track itemLink; let i = $index) {
            <li
                class="header-links_item"
                [tabindex]="i"
            >
                <a
                    routerLink="{{ itemLink.link }}"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    class="item-link"
                >
                    <p class="item-link_text">{{ itemLink.value }}</p>
                </a>
            </li>
        }
    </ul>
    <aside class="header-buttons">
        <cv-dark-mode-toggle></cv-dark-mode-toggle>
        <button class="header-buttons_language">EN</button>
        <button
            class="header-buttons_login"
            (click)="showDialog()"
        >
            Вход
        </button>
    </aside>
</nav>
