.navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 0 50px;
    height: 96px;

    .header-links {
        display: flex;
        column-gap: 30px;
        height: 100%;
        &_item {
            .item-link {
                display: flex;
                align-items: center;
                transition: color 0.5s ease-in-out;
                cursor: pointer;
                height: 100%;
                color: #000000;
            }

            .item-link:hover {
                color: #0000ff;
            }
        }
    }
}
