@use '../../../assets/styles/variables' as color;

.layout-container {
    position: relative;
    padding: 1rem;
    min-height: 100vh;

    .menu-toggle {
        position: fixed;
        top: 1rem;
        left: 1rem;
        z-index: 1000;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background-color: color.$black;
    }

    .content-container {
        margin: 0 auto;
        padding: 2rem 1rem;
        max-width: 1200px;

        @media (min-width: 768px) {
            margin-left: 250px;
            padding: 3rem 2rem;
        }
    }
}

.layout-container.dark-theme {
    .menu-toggle {
        background-color: color.$black;
        box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
    }
}