@use '../../../../../assets/styles/variables' as color;

.first-time {
    display: flex;
    position: relative;
    row-gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: color.$white;
    width: 100vw;
    height: 100vh;

    .familly,
    .title {
        font-weight: 700;
        font-size: 16px;
    }

    .persons {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .persons li {
        padding: 10px;
        list-style: none;
    }

    .familly {
        margin-top: 15px;
    }
}
