<div class="modal-background">
    <dialog class="modal-dialog">
        <header class="header-block">
            <h3 class="header-block_title">{{ header() }}</h3>
            <button
                class="header-block_close-button"
                (click)="closeModalDialog()"
            >
                <img
                    aria-hidden="true"
                    src="assets/images/white-mode/icons/close.svg"
                    alt="close.svg"
                />
            </button>
        </header>
        <body class="modal-dialog_content">
            <form
                action=""
                method="post"
                class="content-form"
            >
                <label
                    for="email"
                    class="content-form_label"
                >
                    Е-мейл
                    <input
                        type="email"
                        name="email"
                        class="content-form_input"
                    />
                </label>
                <label
                    for="password"
                    class="content-form_label"
                >
                    Пароль
                    <input
                        type="password"
                        name="password"
                        class="content-form_input"
                    />
                </label>

                <div class="content-form_submit-buttons">
                    <button
                        class="submit-button"
                        (click)="confirmModalDialog()"
                        type="button"
                    >
                        Войти
                    </button>
                    <button
                        class="reset-button"
                        (click)="resetModalDialog()"
                        type="button"
                    >
                        Сбросить
                    </button>
                </div>
            </form>
        </body>
    </dialog>
</div>
