<div
    class="modal-background"
    #modal
    (click)="onBackgroundClick($event)"
>
    <dialog class="modal-dialog">
        <header class="header-block">
            <h3 class="header-block_title">{{ header() }}</h3>
            <button
                class="header-block_close-button"
                (click)="closeModalDialog()"
            >
                <img
                    aria-hidden="true"
                    [src]="closeImageUrl$ | async"
                    alt="close.svg"
                />
            </button>
        </header>
        <main class="modal-dialog_content">
            <form
                [formGroup]="authForm"
                method="post"
                class="content-form"
            >
                @if (!authForm.get('guest')?.value) {
                    <label
                        for="email"
                        class="content-form_label"
                    >
                        Е-мейл
                        <input
                            type="email"
                            formControlName="email"
                            id="email"
                            class="content-form_input"
                        />
                    </label>
                    <label
                        for="password"
                        class="content-form_label"
                    >
                        Пароль
                        <input
                            type="password"
                            id="password"
                            formControlName="password"
                            class="content-form_input"
                        />
                    </label>
                }

                <label
                    for="guest"
                    class="content-form_guest"
                >
                    Продолжить в гостевом режиме
                    <input
                        type="checkbox"
                        id="guest"
                        formControlName="guest"
                        class="content-form_checkbox"
                    />
                </label>

                <div class="content-form_submit-buttons">
                    <button
                        class="submit-button"
                        (click)="confirmModalDialog()"
                        type="button"
                        [disabled]="!authForm.valid && !authForm.get('guest')?.value"
                        [ngClass]="{ 'disabled-submit': !authForm.valid && !authForm.get('guest')?.value }"
                    >
                        Войти
                    </button>
                    @if (!authForm.get('guest')?.value) {
                        <button
                            class="reset-button"
                            (click)="resetModalDialog()"
                            type="button"
                            [disabled]="!authForm.get('email')?.value || !authForm.get('password')?.value"
                            [ngClass]="{
                                'disabled-reset': !authForm.get('email')?.value || !authForm.get('password')?.value,
                            }"
                        >
                            Сбросить
                        </button>
                    }
                </div>
            </form>
        </main>
    </dialog>
</div>
