<div
    class="modal-background"
    #modal
    (click)="onBackgroundClick($event)"
>
    <dialog
        class="modal-dialog"
        [@fadeInOut]="modalState"
    >
        <header class="header-block">
            <cv-language-toggle class="header-block_title"></cv-language-toggle>
            <h3 class="header-block_title">
                {{ 'LOGIN-MODAL.' + header() | translate }}
            </h3>
            <button
                class="header-block_close-button"
                (click)="resetModalDialog()"
                (keyup.enter)="resetModalDialog()"
                tabindex="0"
            >
                <img
                    aria-hidden="true"
                    [src]="closeImageUrl$ | async"
                    [alt]="closeImageUrl$ | async"
                />
            </button>
        </header>
        <main class="modal-dialog_content">
            <form
                [formGroup]="authForm"
                method="post"
                class="content-form"
            >
                <div class="content_fields">
                    @if (!authForm.get('guest')?.value) {
                        <label
                            for="email"
                            class="content-form_label"
                        >
                            {{ 'LOGIN-MODAL.EMAIL' | translate }}
                            <input
                                type="email"
                                formControlName="email"
                                id="email"
                                class="content-form_input"
                                autocomplete="username"
                            />
                        </label>
                    }
                    @if (!authForm.get('guest')?.value) {
                        <label
                            for="password"
                            class="content-form_label"
                        >
                            {{ 'LOGIN-MODAL.PASSWORD' | translate }}
                            <input
                                type="password"
                                id="password"
                                formControlName="password"
                                class="content-form_input"
                                autocomplete="current-password"
                            />
                        </label>
                    }
                </div>

                <div class="register-prompt">
                    <span class="regester-title">{{ 'LOGIN-MODAL.REGISTRATION_QUESTION' | translate }}</span>
                    <span
                        class="register-link"
                        (click)="createAccount()"
                    >
                        {{ 'LOGIN-MODAL.CREATE-USER' | translate }}
                    </span>
                </div>
                <label
                    for="guest"
                    class="content-form_guest"
                >
                    {{ 'LOGIN-MODAL.GUEST-MODE' | translate }}
                    <input
                        type="checkbox"
                        id="guest"
                        formControlName="guest"
                        class="content-form_checkbox"
                    />
                </label>
                <div class="content-form_submit-buttons">
                    <button
                        class="submit-button"
                        (click)="confirmModalDialog()"
                        (keyup.enter)="confirmModalDialog()"
                        type="button"
                        [disabled]="!authForm.valid && !authForm.get('guest')?.value"
                        [ngClass]="{ 'disabled-submit': !authForm.valid && !authForm.get('guest')?.value }"
                        tabindex="0"
                    >
                        {{ 'LOGIN-MODAL.LOGIN' | translate }}
                    </button>
                    <button
                        *ngIf="!authForm.get('guest')?.value"
                        class="reset-button"
                        (click)="resetModalDialog()"
                        (keyup.enter)="resetModalDialog()"
                        type="button"
                        [disabled]="!authForm.get('email')?.value || !authForm.get('password')?.value"
                        [ngClass]="{
                            'disabled-reset': !authForm.get('email')?.value || !authForm.get('password')?.value,
                        }"
                        tabindex="0"
                    >
                        {{ 'LOGIN-MODAL.CANCEL' | translate }}
                    </button>
                </div>
            </form>
        </main>
    </dialog>
</div>
