<div
    class="navigation-border"
    [ngClass]="{
        'visible fade-in': navigationLinks && navigationLinks.length > 0,
        hidden: !(navigationLinks && navigationLinks.length > 0),
        'dark-theme': theme(),
        'light-theme': !theme(),
    }"
>
    <nav
        class="navigation-header"
        [ngClass]="theme() ? 'dark-theme' : 'light-theme'"
    >
        <article class="header-logo">
            <a
                class="header-logo_link"
                routerLink="/layout/main"
            >
                <img
                    class="header-logo_link-img"
                    [src]="imageUrl"
                    alt="logo-i.cherkas.svg"
                />
            </a>
        </article>
        <ul class="header-links">
            @for (itemLink of navigationLinks; track itemLink.position; let i = $index) {
                <li
                    class="header-links_item"
                    [tabindex]="i"
                >
                    <a
                        routerLink="{{ itemLink.link }}"
                        routerLinkActive="active"
                        [routerLinkActiveOptions]="{ exact: true }"
                        class="item-link"
                    >
                        <span class="item-link_text">{{ itemLink.value }}</span>
                    </a>
                </li>
            }
        </ul>
        <aside class="header-buttons">
            <cv-dark-mode-toggle></cv-dark-mode-toggle>
            <button
                class="header-buttons_language"
                (click)="changeLanguage()"
            >
                {{ isCheckedLanguage ? 'EN' : 'RU' }}
            </button>
            <button
                class="header-buttons_login"
                (click)="showDialogLogout()"
            >
                {{ displayName || 'GUEST' }}
            </button>
        </aside>
    </nav>
</div>
