<aside
    class="aside-navigation"
    [ngClass]="{ 'dark-theme': theme() }"
>
    <ul class="navigation-list">
        @for (navItem of navigationList(); track navItem.id) {
            <li class="navigation_item">
                <button
                    type="button"
                    class="item-button"
                    (click)="changeTab(navItem.value)"
                >
                    <a [ngClass]="{ active: selectedTab === navItem.value }">
                        {{ navItem.title }}
                    </a>
                </button>
                {{ navItem.id === '1' && selectedTab === 'tech' }}
                {{ navItem | json }}
                @if (navItem.id === '1' && selectedTab === 'tech') {
                    <section class="skills-switcher">
                        <ul class="skills-list">
                            @for (skillItem of hardSkillsNavigation$ | async; track skillItem.id; let i = $index) {
                                <li class="skill-item">
                                    @if (currentSkills && skillItem.link) {
                                        <a
                                            class="skill-item_link"
                                            routerLinkActive="active"
                                            [routerLinkActiveOptions]="{
                                                exact: true,
                                            }"
                                            [ngClass]="{
                                                active: currentSkills === skillItem.link,
                                            }"
                                            (click)="changeSkillsList(skillItem.link)"
                                        >
                                            {{ skillItem.value }}
                                        </a>
                                    }
                                </li>
                            }
                        </ul>
                    </section>
                }
            </li>
        } @empty {
            Empty list
        }
    </ul>
</aside>
