.main {
    // padding-top: 5%;
    height: 100%;
    &_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .fullname-img {
            display: flex;
            column-gap: 56px;
            align-items: flex-end;

            .fullname {
                font-size: calc(14px + 126 * (100vw / 1920));
                font-family: 'RS-semibold';
                text-transform: uppercase;
                white-space: nowrap;
            }
        }

        .description-projects-stack {
            display: flex;
            align-items: center;

            .description {
                align-self: center;
                font-size: calc(12px + 6 * (100vw / 1920));
                font-family: 'RS-extralight';
            }

            .stack {
                font-size: calc(14px + 126 * (100vw / 1920));
                font-family: 'RS-semibold';
                text-transform: uppercase;
                white-space: nowrap;
            }

            .projects-button {
                width: calc(115px + 120 * (100vw / 1920));
                height: calc(100px + 12 * (100vh / 1080));

                &_link {
                    display: block;
                    width: 100%;
                    height: 100%;
                }

                &_img {
                    border-radius: 50px;
                }
            }
        }

        .status-cv {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .status {
                margin-right: 40px;
                font-size: calc(14px + 126 * (100vw / 1920));
                font-family: 'RS-semibold';
                text-transform: uppercase;
            }
        }
    }
}
