@if (mainInfoPageData) {
    <main class="main">
        <div class="main_info">
            <section class="fullname-img">
                <span class="fullname">{{ mainInfoPageData.fullName }}</span>
                <cv-profile-logo></cv-profile-logo>
            </section>
            <section class="description-projects-stack">
                <p class="description">
                    {{ mainInfoPageData.description }}
                </p>
                <button class="projects-button">
                    <a
                        routerLink="/layout/projects"
                        class="projects-button_link"
                    >
                        <img
                            class="projects-button_img"
                            [src]="mainInfoPageData.imgSrc"
                            alt="project-link-button.png"
                        />
                    </a>
                </button>
                <span class="stack">{{ mainInfoPageData.stack }}</span>
            </section>
            <section class="status-cv">
                <span class="status">{{ mainInfoPageData.status }}</span>
                <cv-button
                    buttonType="long"
                    buttonText="{{ mainInfoPageData.buttonText }}"
                    buttonHoverText="{{ mainInfoPageData.buttonHoverText }}"
                ></cv-button>
            </section>
        </div>
    </main>
}
