.main {
    height: 100%;
    &_info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .fullname-img {
            display: flex;
            align-items: flex-end;
            .fullname {
                font-size: 140px;
                font-family: 'RS-semibold';
                text-transform: uppercase;
                white-space: nowrap;
            }
        }

        .description-projects-stack {
            display: flex;

            .description {
                align-self: center;
                font-size: 16px;
                font-family: 'RS-extralight';
            }

            .stack {
                font-size: 140px;
                font-family: 'RS-semibold';
                text-transform: uppercase;
                white-space: nowrap;
            }
        }

        .status-cv {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .status {
                margin-right: 40px;
                font-size: 140px;
                font-family: 'RS-semibold';
                text-transform: uppercase;
            }
        }
    }
}
