<div class="experience">
    <aside class="experience_navigation">
        <cv-aside-navigation
            [navigationList]="experienceAside"
            (emittedTab)="switchTab($event)"
        ></cv-aside-navigation>
    </aside>
    <section class="experience_places">
        @switch (selectedTab) {
            @case ('work') {
                <cv-work-experience
                    [selectedTabWork]="selectedTab"
                    [workExperience$]="workPlace$ | async"
                ></cv-work-experience>
            }
            @case ('learning') {
                <cv-learning-experience
                    [selectedTabLearning]="selectedTab"
                    [learningExperience]="learningPlace$ | async"
                ></cv-learning-experience>
            }
            @default {
                <cv-work-experience
                    [selectedTabWork]="selectedTab"
                    [workExperience$]="workPlace$ | async"
                ></cv-work-experience>
            }
        }
    </section>
</div>
