.experience {
    display: flex;
    // position: relative;
    column-gap: 62px;
    height: 100%;

    &_navigation {
    }

    &_places {
        margin-bottom: 300px;
        width: 100%;
        overflow: scroll;
    }
}
