@use '../../../../assets/styles/variables' as color;

.first-time {
  position: relative;
  background-color: color.$white;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 15px;

  .familly,
  .title {
    font-weight: 700;
    font-size: 16px;
  }

  .persons {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .persons li {
    list-style: none;
    padding: 10px;
  }

  .familly {
    margin-top: 15px;
  }
}