<div class="experience">
    <aside class="experience_navigation">
        <cv-aside-navigation-experience
            [navigationList]="(experienceAside$ | async) ?? []"
            (emittedTab)="switchTab($event)"
            [theme]="(currentTheme$ | async) ?? false"
        ></cv-aside-navigation-experience>
    </aside>
    <section class="experience_places">
        @switch (selectedTab) {
            @case ('work') {
                <cv-work-experience
                    selectedTabWork="work"
                    [workExperience$]="workPlace$ | async"
                    [theme]="(currentTheme$ | async) ?? false"
                ></cv-work-experience>
            }
            @case ('education') {
                <cv-education-experience
                    selectedTabEducation="education"
                    [educationExperience$]="educationPlace$ | async"
                    [theme]="(currentTheme$ | async) ?? false"
                ></cv-education-experience>
            }
            @default {
                <cv-work-experience
                    selectedTabWork="work"
                    [workExperience$]="workPlace$ | async"
                    [theme]="(currentTheme$ | async) ?? false"
                ></cv-work-experience>
            }
        }
    </section>
</div>
