@use '../../../../../assets/styles/variables' as color;
@use '../../../../../assets/styles/mixins/glassmorphism.mixin' as glassmorphism;

.footer.dark-theme {
    .footer-links {
        @include glassmorphism.cards_glassmorphism-dm;

        &_item {
            .item-link {
                color: color.$white;
            }

            .item-link:hover {
                color: color.$blue;
            }
        }
    }

    .footer-links:hover {
        background-color: rgba(41, 41, 41, 1);
    }
}
