@use '../../assets/styles/variables' as color;

.layout-container {
    background-image: url('../../assets/images/white-mode/background-main-menu.png');
    background-size: cover;
    background-color: color.$lightGrey;
    padding: 40px 135px 60px;
    width: 100vw;
    height: 100vh;
    .layout {
        // background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .header {
        }

        .general {
            border: 1px solid red;
        }

        .footer {
        }
    }
}
