<div class="layout-container">
    <main class="layout">
        <header class="header">
            <cv-header
                [navigationLinks]="navigation$ | async"
                (emittedModal)="getModalInstance($event)"
            ></cv-header>
        </header>
        <cv-animation-bg></cv-animation-bg>

        <main
            class="general"
            [@routeAnimations]="prepareRoute(outlet)"
        >
            <router-outlet #outlet="outlet"></router-outlet>
        </main>
        <footer class="footer">
            <cv-footer [socialLinks$]="social$ | async"></cv-footer>
        </footer>
    </main>

    @if (isModalDialogVisible) {
        <cv-login-modal
            header="'header.value'"
            description="description.value"
            (isConfirmed)="closeModal($event)"
        ></cv-login-modal>
    }
</div>
