<header class="navigation-header">
    <article class="header-logo">I.Cherkas</article>
    <ul class="header-links">
        <li class="header-links_item">Опыт работы и образование</li>
        <li class="header-links_item">Проекты</li>
        <li class="header-links_item">Технологии</li>
    </ul>
    <aside header-buttons>
        <button class="header-buttons_dark-mode"></button>
        <button class="header-buttons_language">EN</button>
        <button class="header-buttons_log">Вход</button>
    </aside>
</header>
