@switch (experienceType()) {
    @case ('work') {
        <article
            class="experience-card"
            [ngClass]="{ activeWork: experienceType() === 'work' }"
            (mouseover)="experienceCardImgVisibility = true"
            (focus)="experienceCardImgVisibility = true"
            (mouseleave)="experienceCardImgVisibility = false"
            (blur)="experienceCardImgVisibility = false"
        >
            @if (experienceCardImgVisibility) {
                <div class="experience-card_picture-work">
                    <img
                        class="card-img"
                        [src]="workDescription()?.logoPath"
                        [alt]="workDescription()?.logoPath"
                    />
                </div>
            }

            <div class="card-info">
                <span class="card-info_place">место работы</span>
                <span class="card-info_place-name">
                    {{ workDescription()?.company }}
                </span>
                <span class="card-info_time">
                    {{ workDescription()?.from }} - {{ workDescription()?.to }}
                </span>
            </div>
            <button class="card-button">
                <img
                    src="assets/images/white-mode/icons/arrow.svg"
                    alt="arrow.svg"
                />
            </button>
        </article>
    }
    @case ('learning') {
        <article
            class="experience-card"
            [ngClass]="{ activeLearning: experienceType() === 'learning' }"
            (mouseover)="experienceCardImgVisibility = true"
            (focus)="experienceCardImgVisibility = true"
            (mouseleave)="experienceCardImgVisibility = false"
            (blur)="experienceCardImgVisibility = false"
        >
            @if (experienceCardImgVisibility) {
                <div class="experience-card_picture-learning">
                    <img
                        class="card-img"
                        [src]="workDescription()?.logoPath"
                        [alt]="workDescription()?.logoPath"
                    />
                </div>
            }
            <button class="card-button">
                <img
                    src="assets/images/white-mode/icons/download.svg"
                    alt="download.svg"
                />
            </button>
            <div class="card-info">
                <span class="card-info_place">курс</span>
                <span class="card-info_place-name">
                    {{ experienceDescription()?.company }}
                    {{ experienceDescription()?.specialization }}
                </span>
                <span class="card-info_time">
                    {{ experienceDescription()?.from }} -
                    {{ experienceDescription()?.to }}
                </span>
            </div>
        </article>
    }
    @default {
        <article
            class="experience-card"
            [ngClass]="{ activeWork: experienceType() === 'work' }"
            (mouseover)="experienceCardImgVisibility = true"
            (focus)="experienceCardImgVisibility = true"
            (mouseleave)="experienceCardImgVisibility = false"
            (blur)="experienceCardImgVisibility = false"
        >
            @if (experienceCardImgVisibility) {
                <div class="experience-card_picture-work">
                    <img
                        class="card-img"
                        [src]="workDescription()?.logoPath"
                        [alt]="workDescription()?.logoPath"
                    />
                </div>
            }

            <div class="card-info">
                <span class="card-info_place">место работы</span>
                <span class="card-info_place-name">
                    {{ workDescription()?.company }}
                </span>
                <span class="card-info_time">
                    {{ workDescription()?.from }} - {{ workDescription()?.to }}
                </span>
            </div>
            <button class="card-button">
                <img
                    src="assets/images/white-mode/icons/arrow.svg"
                    alt="arrow.svg"
                />
            </button>
        </article>
    }
}
