<div
    class="animation-bg"
    [ngClass]="{
        'visible fade-in': navigationLinks && navigationLinks.length > 0,
        hidden: !(navigationLinks && navigationLinks.length > 0),
    }"
>
    <div class="circles-list">
        @for (blob of animationBlobs; track $index) {
            <div
                class="circle-element_img"
                [ngStyle]="blob"
            >
                <p><span></span></p>
                <p><span></span></p>
            </div>
        }
    </div>
</div>
