@use '../../../../assets/styles/variables' as color;

.aside-navigation {
    position: relative;
    .navigation-list {
        display: flex;
        row-gap: calc(10px + 20 * (100vw / 1920));
        flex-direction: column;

        .item-button {
            cursor: pointer;
            background-color: transparent;
            color: color.$darkGray;
            font-size: calc(20px + 30 * (100vw / 1920));
            line-height: 51.1px;
            font-family: 'RS-regular';
        }
    }

    .skills-switcher {
        .skills-list {
            display: flex;
            row-gap: 20px;
            flex-direction: column;
            .skill-item {
                &_link {
                    position: relative;
                    align-items: center;
                    transition: color 0.5s ease-in-out;
                    cursor: pointer;
                    color: color.$black;
                    font-size: calc(10px + 10 * (100vw / 1920));
                }

                .active {
                    color: color.$blue;
                }

                .active::before,
                .active::after {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 0;
                    transition: opacity 0.3s;
                }

                .active::after {
                    left: -15px;
                    content: '<';
                }

                .active::before {
                    right: -15px;
                    content: '>';
                }

                .active::before,
                .active::after {
                    opacity: 1;
                }

                &_link:hover {
                    color: color.$blue;
                }

                &_link {
                    position: relative;
                    align-items: center;
                    transition: color 0.5s ease-in-out;
                    cursor: pointer;
                    color: color.$black;
                    font-size: calc(10px + 10 * (100vw / 1920));
                }
            }
        }
    }
}

.active {
    color: color.$black;
}
