<button
    class="general-button"
    [ngClass]="{
        'dark-theme': buttonTheme(),
        'light-theme': !buttonTheme()
    }"
    (mouseover)="onHover()"
    (mouseout)="onLeave()"
>
    <span
        class="general-button_text"
        [ngClass]="{ active: isHovered }"
    >
        {{ buttonText() }}
    </span>
    <span
        #generalButton
        class="general-button_text"
        [ngClass]="{ active: !isHovered }"
        [ngStyle]="setActivePosition()"
    >
        <div
            class="absolute"
            [ngStyle]="setAbsoluteWidth()"
        >
            {{ buttonHoverText() }}
        </div>
    </span>
</button>
