<button
    class="general-button"
    [ngClass]="{
        'dark-theme': buttonTheme(),
        'light-theme': !buttonTheme(),
    }"
    (mouseover)="onHover()"
    (mouseout)="onLeave()"
>
    <span
        class="general-button_text"
        [ngClass]="{ active: isHovered }"
    >
        @if (buttonType() === 'short-main-button') {
            Смотреть CV
        } @else {
            Связаться со мной
        }
    </span>
    <span
        #generalButton
        class="general-button_text"
        [ngClass]="{ active: !isHovered }"
        [ngStyle]="setActivePosition()"
    >
        <div
            class="absolute"
            [ngClass]="
                this.buttonType().length > 11 ? 'connect-me' : 'watch-cv'
            "
        >
            @if (buttonType() === 'short-main-button') {
                Открыть СV
            } @else {
                Написать мне
            }
        </div>
    </span>
</button>
