<footer class="footer">
    <aside class="footer-connect">
        <cv-button
            buttonText="Связаться со мной"
            buttonHoverText="Написать мне"
        ></cv-button>
    </aside>
    <ul class="footer-links">
        @for (itemLink of socialLinks$(); track itemLink; let i = $index) {
            <li class="footer-links_item">
                <a
                    href="{{ itemLink.link }}"
                    target="_blank"
                    class="item-link"
                >
                    <p class="item-link_text">{{ itemLink.value }}</p>
                </a>
            </li>
        }
    </ul>
</footer>
