<footer class="footer">
    <aside class="footer-connect">
        <button
            class="footer-connect_button"
            text="Связаться со мной"
            hover-text="Написать мне"
        ></button>
    </aside>
    <ul class="footer-links">
        <li class="footer-links_item">LINKEDIN</li>
        <li class="footer-links_item">github</li>
        <li class="footer-links_item">Telegram</li>
        <li class="footer-links_item">Facebook</li>
        <li class="footer-links_item">Mail</li>
        <li class="footer-links_item">WhatsApp</li>
        <li class="footer-links_item">Skype</li>
    </ul>
</footer>
