<aside class="aside-navigation">
    <ul class="navigation-list">
        <li class="navigation_item">
            <button
                (click)="setRepoType('public')"
                type="button"
                class="item-button"
            >
                Публичные
            </button>
        </li>
        <li class="navigation_item">
            <button
                (click)="setRepoType('private')"
                type="button"
                class="item-button"
            >
                Приватные
            </button>
        </li>
        <li class="navigation_item">
            <button
                (click)="setRepoType('public')"
                type="button"
                class="item-button"
            >
                Все
            </button>
        </li>
    </ul>
</aside>
