<aside
    class="aside-navigation"
    [ngClass]="{ 'dark-theme': theme() }"
>
    <ul class="navigation-list">
        @for (type of currentTypes(); track $index) {
            <li class="navigation_item">
                <button
                    (click)="setRepoType(type.value)"
                    type="button"
                    class="item-button"
                >
                    <a [ngClass]="{ active: type.value === currentRepoType }">
                        {{ type.value }}
                    </a>
                </button>
            </li>
        }
    </ul>
</aside>
