<div
    class="modal-background"
    #modal
    (click)="onBackgroundClick($event)"
    (keyup.enter)="onBackgroundClick($event)"
    tabindex="0"
>
    <dialog class="modal-dialog">
        <header class="header-block">
            <h3 class="header-block_title">{{ header() }}</h3>
            <button
                class="header-block_close-button"
                (click)="closeLogoutDialog()"
                (keyup.enter)="closeLogoutDialog()"
                tabindex="0"
            >
                <img
                    aria-hidden="true"
                    src="assets/images/white-mode/icons/close.svg"
                    alt="close.svg"
                />
            </button>
        </header>
        <main class="modal-dialog_content">
            <div class="content_question">Вы уверены что хотите покинуть приложение, {{ displayName }}?</div>

            <div class="content_submit-buttons">
                <button
                    class="submit-button"
                    (click)="confirmLogout()"
                    (keyup.enter)="confirmLogout()"
                    type="button"
                    tabindex="0"
                >
                    Выйти
                </button>
                <button
                    class="reset-button"
                    (click)="closeLogoutDialog()"
                    (keyup.enter)="closeLogoutDialog()"
                    type="button"
                    tabindex="0"
                >
                    Отменить
                </button>
            </div>
        </main>
    </dialog>
</div>
