<aside class="aside-navigation">
    <ul class="navigation-list">
        @for (navItem of navigationList; track navItem.id) {
            <li class="navigation_item">
                <button
                    type="button"
                    class="item-button"
                    (click)="changeTab(navItem.value)"
                >
                    <span [ngClass]="{ active: selectedTab === navItem.value }">
                        {{ navItem.title }}
                    </span>
                </button>
                @if (navItem.id === 1 && selectedTab === 'tech') {
                    <cv-skills-switcher
                        [skillsList]="hardSkillsNavigation"
                        (emittedCurrentTab)="switch($event)"
                    ></cv-skills-switcher>
                }
            </li>
        } @empty {
            Empty list
        }
    </ul>
</aside>
