@font-face {
    src: url('../fonts/RS-extrabold.otf') format('truetype');
    font-family: 'RS-extrabold';
}

@font-face {
    src: url('../fonts/RS-extralight.otf') format('truetype');
    font-family: 'RS-extralight';
}

@font-face {
    src: url('../fonts/RS-regular.otf') format('truetype');
    font-family: 'RS-regular';
}

@font-face {
    src: url('../fonts/RS-semibold.otf') format('truetype');
    font-family: 'RS-semibold';
}

body {
    font-family: 'RS-regular', Roboto, 'Helvetica Neue', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.about-me,
.cv,
.education,
.projects,
.technologies,
.work-experience,
.initial-content {
    padding: 120px 5% 0 5%;
    width: 100%;
}
