@if (mainInfoPageData) {
    <main
        class="main"
        [ngClass]="{ 'dark-theme': (currentTheme$ | async) }"
    >
        <div class="main_info">
            <section class="fullname-img">
                <span class="fullname">{{ 'MAIN-PAGE.' + mainInfoKeys[1].toUpperCase() | translate }}</span>
                <cv-profile-logo></cv-profile-logo>
            </section>
            <section class="description-projects-stack">
                <p class="description">
                    {{ 'MAIN-PAGE.' + mainInfoKeys[6].toUpperCase() | translate }}
                </p>
                <button class="projects-button">
                    <a
                        routerLink="/layout/projects"
                        class="projects-button_link"
                    >
                        <img
                            class="projects-button_img"
                            [src]="mainInfoPageData.imgSrc"
                            alt="project-link-button.png"
                        />
                    </a>
                </button>
                <span class="stack">{{ 'MAIN-PAGE.' + mainInfoKeys[3].toUpperCase() | translate }}</span>
            </section>
            <section class="status-cv">
                <span class="status">{{ 'MAIN-PAGE.' + mainInfoKeys[5].toUpperCase() | translate }}</span>
                <cv-button
                    buttonType="long"
                    buttonText="{{ 'BUTTONS.CV.WATCH' | translate }}"
                    buttonHoverText="{{ 'BUTTONS.CV.OPEN' | translate }}"
                    [buttonTheme]="currentTheme$ | async"
                ></cv-button>
            </section>
        </div>
    </main>
}
