<ng-container *ngIf="modalData$ | async as modalData">
    <div
        class="modal-background"
        #modal
        tabindex="0"
        (click)="onBackgroundClick($event)"
        (keyup.enter)="onBackgroundClick($event)"
    >
        <dialog
            #modalDialog
            class="modal-dialog"
        >
            <header class="header-block">
                <h3 class="header-block_title">{{ modalData.company }}</h3>
                <button
                    class="header-block_close-button"
                    modalDialog
                    (click)="closeModalDialog()"
                    (keyup.enter)="closeModalDialog()"
                    tabindex="0"
                >
                    <img
                        aria-hidden="true"
                        [src]="closeImageUrl$ | async"
                        [alt]="closeImageUrl$ | async"
                    />
                </button>
            </header>
            <main class="modal-dialog_content">
                <div class="modal-dialog_body">
                    <p>{{ 'EXPERIENCE-MODAL.FROM' | translate }}: {{ modalData.from }}</p>
                    <p>{{ 'EXPERIENCE-MODAL.TO' | translate }}: {{ modalData.to }}</p>
                    <p>{{ 'EXPERIENCE-MODAL.TECHNOLOGIES' | translate }}: {{ modalData.specialization }}</p>
                </div>
                <div class="modal-dialog_image">
                    <img
                        [src]="modalData.iconPath"
                        [alt]="modalData.alt"
                    />
                </div>
                <div class="content-form_submit-buttons">
                    <button
                        class="reset-button"
                        (click)="closeModalDialog()"
                        (keyup.enter)="closeModalDialog()"
                        type="button"
                        tabindex="0"
                    >
                        {{ 'EXPERIENCE-MODAL.CLOSE' | translate }}
                    </button>
                </div>
            </main>
        </dialog>
    </div>
</ng-container>
