@use '../../../../../../../assets/styles/variables' as color;
@use '../../../../../../../assets/styles/mixins/glassmorphism.mixin' as glassmorphism;

.technology-card.dark-theme {
    .technology-card_block {
        @include glassmorphism.cards_glassmorphism-dm;
        
        transition: background 0.3s ease;
    }

    .technology-card_description {
        color: color.$white;
        transition: color 0.3s ease;
    }
    
    &:hover {
        .technology-card_block {
            background: rgba(0, 0, 0, 0.4) !important;
        }
    }
}